/* change all font */
body {
  font-family: 'Roboto', sans-serif;
}
/* background photo for search page */
.card-image {
  background-image: url("../views/images/m&p.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* background photo for search page */
#search_container {
  background-image: url("../views/images/plate_image.jpeg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* background photo for submit page */
#submit_container, #recipe_container{
  background-image: url(../views/images/empty_kitchen.jpeg);

  /* Full height */
  height: 1000%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.row {
  padding:20px;
}

.page-footer {
 background-color:#8DACB1;
 
}

#publishBtn, #searchBtn, #searchPageBtn, #add-button {
  background-color: 	#7B7575;
 
}
/* css code for materialize sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}